html {
background-color: black;
font-family: Helvetica;
}

.container {
    margin: 2.5%;
    width: 95%;
}

.filmContainer {
    width: 100%;
}

.imageTemp {
    width: 512px;
    height: 512px;
    display:block;
}


.imageContainer {
    display:inline-block;
    width: 512px;
    height: 512px;
}

.detailsContainer {
    margin-left: 2%;
    display:inline-block;
    width: 60%;
    height: 512px;
}

.filmDetails {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    overflow:hidden;
}

.box {
    font-size: 28px;
    height: 75px;
    width: 15%;
    background-color: grey;
    display:inline-block;
    text-align:center;
    margin: 1%;
}

a {
text-decoration: none;
}

.grid {
    align_content: center;
    width: 100%;
    height: auto;
}

.actorDetails {

    display:inline-block;
    width: 20%;

}

.otherFilms {
    display:inline-block;
    width: 20%;
}