<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/css/w3.css" th:href="@{/test.css}">
<title>Actors</title>
</head>
<body>
<div class="container">

  <h2> Actor List </h2>
  <table>
    <tr th:each="actor : ${actorList}">
      <td th:text="${actor.actorID}"></td>
      <td><a href="http://localhost:8080" th:href="@{|/actors/${actor.actorID}|}" th:text="${actor.actorFirstname} + ' ' + ${actor.actorLastname}"></a></td>
    </tr>
  </table>

</div>
</div>
</body>
</html>