<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="${actorList.actorFirstname} + ' ' + ${actorList.actorLastname}"></title>
<link rel="stylesheet" href="../static/css/w3.css" th:href="@{/test.css}">
</head>
<body>
<div class="container">

  <h2 th:text="${actorList.actorFirstname} + ' ' + ${actorList.actorLastname}"></h2>
  <br>
  <img th:src="'data:image/png;base64,' + ${image}">
  <br>
  <p> A description or something is going to go here! </p>

  <br>

  <h2> Films Starred In: </h2>
  <table>
    <tr th:each="film : ${filmList}">

      <td th:text="${film.filmID}"></td>
      <td><a href="http://localhost:8080" th:href="@{|/films/${film.filmID}|}" th:text="${film.title}"></a></td>

    </tr>
  </table>

</div>
</div>
</body>
</html>