<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Specific Film</title>
</head>
<body>
<div class="container">

  <h2 th:text="${film.title}"></h2>

  <br>

  <p th:text="${film.desc}"></p>

  <br>

  <p th:text="'Rating: ' + ${film.rating}"></p>
  <p th:text="'Rent Duration: ' + ${film.rentDuration} + ' Months'"></p>
  <p th:text="'Rent Cost: £' + ${film.rentRate} + '/m'"></p>
  <p th:text="'Replacement Cost: £' + ${film.replacementCost}"></p>
  <p th:text="'Length: ' + ${film.length} + ' Minutes'"></p>

  <!-- <image th:src="${image}"></image> -->
  <img th:src="'data:image/png;base64,' + ${image}">

  <br>

  <h2> Actor List </h2>

  <table>
    <tr th:each="actor : ${actorList}">

      <td th:text="${actor.actor.actorID}"></td>
      <td><a href="http://localhost:8080" th:href="@{|/actors/${actor.actor.actorID}|}" th:text="${actor.actor.actorFirstname} + ' ' + ${actor.actor.actorLastname}"></a></td>
    </tr>
  </table>


  <h2> Films Like This: </h2>

  <p> Will probs randomly select a couple movies to display here! </p>
  <table>

  </table>

</div>
</div>
</body>
</html>